<table border="1"
       cellpadding="8"
       cellspacing="0"
       style="border-collapse: collapse; width: 100%;">
    <thead style="background-color: #f0f0f0;">
        <tr>
            <th>ID</th>
            <th>Emri</th>
            <th>Qyteti</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of filteredStudent">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.city}}</td>
            <td>{{student.grade}}</td>
        </tr>

    </tbody>
</table>